@navHeight: 30px;
@headerHeight: 100px;
@detailsHeight: 30px;

/* ----------------------------------------- */
/*  All PF1 Apps                           */
/* ----------------------------------------- */

.pf1 {
  header {
    flex: 0;
  }

  h3 {
    border-bottom: unset;
  }

  .footnote {
    color: @colorTan;
  }

  div.group-container {
    position: relative;
    border: 1px solid var(--color-border-dark-2);
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    margin-top: 20px;

    & > .group-title {
      position: absolute;
      top: -50%;
    }
  }

  a.inline-action {
    position: relative;
    margin-left: 4px;

    i.absolute {
      position: absolute;
      left: -2px;
      top: -2px;
      font-size: @fontSizeNormal;
      background: black;
      color: var(--color-text-light-highlight);
      padding: 1px;
      border-radius: 4px;
      height: 10px;
      line-height: 8px;
    }

    &[data-action="recoverAmmo"],
    &[data-action="forceRecoverAmmo"] {
      &.recovered {
        color: #00aa00;
      }
      &.recovery-failed {
        color: #aa0000;
      }
    }
  }

  input[type="number"]::placeholder,
  input[type="text"]::placeholder,
  .placeholder {
    color: @colorTan;
  }

  input[type="text"]:disabled,
  input[type="text"][disabled] {
    color: @colorTan;
  }

  .align-left {
    text-align: start;
  }
  .align-center {
    text-align: center;
  }
  .align-right {
    text-align: end;
  }

  li {
    align-items: center;
  }

  .window-content {
    background: @sheetBackground;
    font-size: @fontSizeEnlarged;
    color: var(--color-text-dark-primary);
    overflow: hidden;
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Item Sheet form fields
  input[type="text"],
  input[type="number"],
  select {
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    color: var(--color-text-dark-primary);
  }

  // Hovered Fields
  input[type="text"],
  input[type="number"] {
    &:hover,
    &:focus {
      &:not(:disabled),
      &:not([disabled]) {
        border: 1px solid #111;
        box-shadow: 0 0 8px red;
      }
    }
  }

  // Disabled Fields
  input,
  select,
  textarea,
  input {
    &:disabled,
    &[disabled],
    &:readonly {
      color: @colorOlive;
      &:hover,
      &:focus {
        box-shadow: none !important;
      }
    }
  }

  // Buttons
  button {
    background: rgba(0, 0, 0, 0.1);
    border: @borderGroove;
  }
  button:active {
    background: rgba(0, 0, 0, 0.3);
  }

  // Checkbox Labels
  label.checkbox {
    flex: auto;
    margin: 0;
    line-height: 2;
    font-size: @fontSizeNormal;

    input[type="checkbox"] {
      height: auto;
      margin: 0 5px 0;
      position: relative;
      top: 3px;
    }
  }

  /* Form Groups */
  .form-group {
    flex: 0;
    gap: 3px;

    label {
      &:first-child,
      &.checkbox,
      &.header {
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
        color: @colorOlive;
      }
    }

    .buff-flags {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      max-height: 76px;
      overflow-y: auto;

      label.checkbox {
        flex: 0 0 50%;
        text-align: left;
      }
    }

    span {
      flex: 0 0 1px;
    }
    .form-fields {
      gap: 3px;
    }

    .group {
      flex: 1 1 96px;

      label {
        flex: 1;
        font-weight: normal;
      }

      a {
        flex: 0 0 16px;
      }
    }
  }

  // Stacked Groups
  .form-group.stacked {
    label {
      flex: 0 0 100%;

      &.checkbox {
        text-align: left;
      }
    }

    .data-selector {
      flex: 1;

      label {
        font-weight: normal;
        flex: 1;
      }

      .entry-selector {
        flex: 0 0 16px;
      }
    }
  }

  // Form Headers
  .form-header {
    margin: 0 0 0.25em 0;
    padding: 0 2px;
    .nodesto();
    font-size: @fontSizeHeader;
    border-top: @borderGroove;
    border-bottom: @borderGroove;
  }

  h4.form-header {
    font-size: @fontSizeSubHeader;
  }

  .tag-list {
    display: flex;
    row-gap: 1px;
    column-gap: 2px;
    flex-wrap: wrap;

    .tag {
      height: min-content;
      white-space: nowrap;
    }
  }

  /* Tags */
  .tag {
    display: inline-block;
    flex: 0;
    padding: 0 3px;
    font-size: @fontSizeSmall;
    line-height: 1.2;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);

    &.type1 {
      background: rgba(255, 0, 0, 0.1);
    }
    &.type2 {
      background: rgba(0, 255, 0, 0.1);
    }
    &.type3 {
      background: rgba(0, 0, 255, 0.1);
    }
  }

  .links-body {
    table {
      .links-item-extra-field {
        width: 128px;
      }

      .links-controls {
        width: 48px;

        & > div {
          display: flex;
          justify-content: center;
        }
      }

      .links-item {
        &.broken-link .links-item-name {
          text-decoration: line-through;
        }

        .links-item-name > div {
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            flex: 0 0 24px;
            margin-right: 4px;
          }
        }
      }

      th {
        background-color: rgb(116, 116, 116);
      }

      tr:not(:last-child) {
        border-bottom: 1px solid rgb(136, 136, 136);
      }

      td:not(:last-child),
      th:not(:last-child) {
        border-right: 1px solid rgb(136, 136, 136);
      }
    }
  }

  .help-icon {
    flex: 0;
  }

  .help-text {
    background-color: rgba(10, 0, 0, 0.05);
    border: dotted rgba(0, 0, 0, 0.2);
    flex: 0 0 24px;
    padding: 3px;
    margin-bottom: 3px;
  }

  .item-links {
    flex: 0 0 24px;
  }

  .fake-inline-roll {
    background: #ddd;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
  }
}

/* ----------------------------------------- */
/*  Trait Selectors Specifically             */
/* ----------------------------------------- */

.pf1.trait-selector {
  max-height: 720px;

  form {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content 2em 2em;
  }
}

/* ----------------------------------------- */
/*  Doc Sheets Specifically               */
/* ----------------------------------------- */

.pf1.sheet {
  .window-content {
    overflow: hidden;
    padding: 5px;
    background: @sheetBackground;
    font-size: @fontSizeEnlarged;
    color: var(--color-text-dark-primary);

    form {
      height: 100%;
      overflow: hidden;

      display: flex;
      flex-flow: column nowrap;
      gap: 2px;
    }

    .tab {
      height: 100%;
      overflow: hidden;
      gap: 2px;

      &.active {
        display: flex;
        flex-flow: column nowrap;
      }

      section {
        height: 100%;
        overflow: hidden;

        &.secret {
          height: unset;
          overflow: unset;
        }
      }
    }
  }

  // Item sheets do not use <section>
  &.item {
    .window-content {
      .tab {
        overflow: hidden scroll;
      }
    }
  }

  // Overflow long names
  .charname input,
  .itemname input,
  .inventory-list h4 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */

  // Input Fields
  input[type="text"],
  input[type="number"] {
    background: none;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border: 1px solid #111;
    }
  }

  textarea {
    font-family: sans-serif;
    padding: 1px 5px;
    resize: none;
    border: 1px solid @colorTan;
    background: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    &:hover {
      border: 1px solid #111;
    }
  }

  // Select Fields
  select {
    flex: 1;
    font-size: @fontSizeNormal;
    line-height: 1;
    background: transparent;
  }

  // Rollable Links
  .editable {
    .rollable:hover,
    .action.roll:hover {
      color: var(--pf1-item-hover-text);
      text-shadow: var(--pf1-item-hover-shadow);
      cursor: pointer;

      .tooltipcontent {
        text-shadow: none;
      }
    }
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    height: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
  }

  .notImp {
    text-decoration: firebrick dotted underline;
    text-decoration-skip-ink: none;
    &::after {
      color: firebrick;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f071";
      text-shadow: 0 0 4px white;
    }
  }

  .needSteps {
    text-decoration: goldenrod double underline;
    &::after {
      color: goldenrod;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f14a";
      text-shadow: 0 0 4px black;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  .sheet-header {
    flex: 0 0 @headerHeight;
    border-bottom: @borderGroove;
    align-items: center;

    h1,
    h2,
    h3,
    h4,
    h5 {
      .nodesto();
    }

    /* Item Name */
    h1 {
      flex: 1;
      border-bottom: none;
      height: 60px;
      margin: 0;
      padding: 5px;

      input {
        font-size: calc(@fontSizeLargeHeader * 1.2);
        font-variant-caps: small-caps;
        margin: 0;
      }
    }

    /* Profile Image */
    img.profile {
      flex: 0 0 @headerHeight;
      width: @headerHeight;
      height: @headerHeight;
      object-fit: contain;
      border: none;
      border-right: @borderGroove;
    }

    /* Header Summary Details */
    .summary {
      display: flex;
      flex: 0 0 100%;
      height: @detailsHeight * 1.2;
      margin: 0;
      padding: 0;
      list-style: none;
      border-top: @borderGroove;
      border-bottom: none;

      li {
        width: 33.33%;
        height: @detailsHeight - 6px;
        padding: 0 3px;
        border-right: @borderGroove;
        border-bottom: @borderGroove;
        line-height: @detailsHeight - 6px;
        color: @colorOlive;

        input {
          vertical-align: top;
        }

        // &:last-child {
        //   border-right: none;
        // }
      }
    }

    .header-details {
      .summary {
        input[type="checkbox"] {
          margin: 0;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */

  .sheet-navigation {
    flex: 0;
    .nodesto();
    background: rgba(155, 155, 155, 0.3);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 12px 12px 0 0;
    font-size: @fontSizeSubHeader;
    column-gap: 2px;

    .item {
      line-height: 1.3em;
      height: 1.3em;
      margin: 0;
      white-space: nowrap;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 12px 12px 0 0;
      flex: 1;

      &.active {
        background: rgba(155, 155, 155, 0.5);
      }
      &:hover {
        background: rgba(155, 155, 155, 0.2);
      }
    }

    &.tabs {
      border-bottom: @borderGroove;
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .primary-body {
    flex: 1;
    overflow: hidden;

    .tab {
      &.spellbook {
        .spellbooks-body {
          overflow: hidden;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */

  .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    align-self: end;
    column-gap: 6px;

    .filter-title {
      flex: 3;
    }

    .filter-item {
      text-align: center;
      font-size: @fontSizeNormal;
      border-bottom: 3px solid var(--color-border-light-secondary);
      white-space: nowrap;

      &:hover {
        text-shadow: 0 0 4px red;
        border-bottom: 3px solid @colorTan;
      }

      &.active {
        border-bottom: 3px solid @colorCrimson;
      }
    }
  }

  // Clickable SVG icons
  a > .icon {
    &:hover {
      opacity: 0.5;
    }
  }

  .icon {
    border: none;
    display: inline-block;

    width: 16px;
    height: 16px;

    &.large {
      width: 24px;
      height: 24px;
    }
  }

  div.info {
    text-align: center;
    justify-content: center;

    span {
      color: @colorTan;
      flex: 0;

      a {
        color: @colorLink;
      }
    }
  }

  .currency {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: @fontSizeLarge;
    justify-content: center;
    align-items: center;

    &:not(.has-currency):not(:hover) {
      opacity: 0.25;
    }

    h3 {
      flex: 0 0 160px;
    }
    label.denomination {
      flex: 0;
      margin-left: 4px;
      text-align: right;
      line-height: 20px;
      color: @colorTan;
      cursor: grab;
      &::before {
        content: "\f58e";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        visibility: hidden;
      }
      &:hover::before {
        visibility: visible;
      }
    }
    input[type="text"],
    span.text-box {
      flex: 1;
      text-align: center;
      margin-left: 8px;
      border-bottom: @borderGroove;
      padding: 1px 3px;
      margin: 0;
      height: auto;
      line-height: 20px;
    }
    .convert-currency {
      flex: 0;
    }
  }
}

/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */

.trait-selector {
  .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  input[type="text"] {
    height: 24px;
    margin: 2px;
  }
}

.pf1.entry,
.notes {
  table {
    border: 1px solid rgb(136, 136, 136);
    font-weight: normal;
    table-layout: fixed;

    th.entry-control,
    td.entry-control {
      width: 16px;
    }

    tr {
      height: 16px;
    }
  }

  a.entry-control.add-entry {
    margin: 0.5em 0 0.7em 1em;
    display: block;
  }
}

.pf1.entry {
  thead {
    background-color: #3c6d98;
  }

  tbody {
    tr {
      background-color: white;
    }

    tr:nth-child(even) {
      background-color: #f3f3f3;
    }
  }
}

.compendium-browser {
  max-height: 100%;

  .search-form {
    position: relative;
    input {
      position: relative;
      padding-left: 17px;
      background: rgba(255, 255, 245, 0.8);
    }
    i {
      position: absolute;
      left: 4px;
    }
  }

  aside.sidebar {
    flex: 0 0 300px;
    height: 100%;
    padding: 0.7rem;
    border-right: @borderGroove;
    font-size: @fontSizeNormal;

    .entry-filter {
      flex: 0;
      margin: 0 1rem 1rem 0;
      justify-content: center;
      align-items: center;
    }

    .filter-container {
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: calc(100% - 96px);
      margin-bottom: 1rem;
      justify-content: flex-start;

      > .filter {
        margin-top: 8px;
        margin-right: 0.5rem;
        border: 1px solid var(--color-border-dark-5);
        border-radius: 4px;
        padding: 0 4px 4px 4px;

        &:first-child {
          margin-top: 0;
        }
        &:nth-last-child(1) {
          margin-bottom: 2px;
        }

        h3 {
          text-align: center;
          margin: 4px 0;

          &:hover {
            color: var(--color-text-dark-primary);
            text-shadow: 0 0 10px red;
            cursor: pointer;
          }
        }

        .filter-content {
          &.collapsed {
            display: none;
          }

          .hidden {
            display: none;
          }

          .filter-controls {
            justify-content: flex-end;
            margin-bottom: 1em;

            .control {
              line-height: unset;
              font-size: @fontSizeNormal;
              min-width: fit-content;
              max-width: 30%;
            }

            button {
              background: rgba(255, 255, 240, 0.8);
              border: 1px solid var(--color-border-light-tertiary);
            }

            .choice-filter {
              margin: auto;
              align-items: center;
              position: relative;
            }
          }

          ul.filter-choices {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0;
            padding: 0;
            list-style: none;
          }

          .no-choices {
            text-align: center;
            margin: 0.5em 0;
            font-style: italic;
          }
        }
      }
    }

    > .buttons {
      flex: 0;
      margin-right: 0.5rem;
    }
  }

  .directory-container {
    flex: 1;
    max-height: 100%;

    .top {
      flex: 0;

      span {
        flex: 1;
        text-align: center;
      }
      span:not(:last-child) {
        border-right: @borderGroove;
      }
    }

    .directory-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-rows: max-content;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;

      .compendium-loading {
        display: flex;
        line-height: 100px;
        font-size: @fontSizeLargeHeader;
        position: sticky;
        top: calc(50% - 64px);
      }

      .directory-bottom {
        visibility: hidden;
      }

      .directory-item {
        list-style: none;
        align-items: center;
        border-bottom: 1px solid var(--pf1-compendium-item-border);
        border-right: 1px solid var(--pf1-compendium-item-border);

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
          .entry-name {
            text-shadow: 0 0 8px var(--color-shadow-primary);
          }
        }

        img {
          flex: 0;
          width: 48px;
          height: 48px;
          margin: 2px;
        }

        .entry-name {
          margin-left: 4px;
          margin-bottom: 0;
        }

        .entry-source {
          font-size: @fontSizeSmall;
          color: rgba(0, 0, 0, 0.5);
          flex: 1 0 0;
          margin-left: 4px;
        }
      }
    }
  }
}

.config .config-icon {
  opacity: 0;
}
.config:hover .config-icon {
  color: rgb(136, 136, 136);
  opacity: 1;
}

.pf1.pointbuy-calculator {
  ol.item-list {
    li {
      background-color: rgba(155, 155, 155, 0.3);
      &:nth-child(2n + 1) {
        background-color: rgba(210, 210, 210, 0.3);
      }
    }

    .ability-controls {
      flex: 0 0 32px;
      padding: 0 1px 0 1px;
    }

    .item-detail {
      &.ability-value {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }
    }
  }
}

.pf1 .currency-transfer {
  .form-group:nth-child(5) {
    background-color: rgba(170, 170, 170, 0.3);
    border-top: 1px dashed #aaa;
  }

  .form-group > label {
    flex: 0 0 150px;
  }

  .form-fields {
    input,
    span {
      flex: 2;

      font-weight: bold;

      &.text-box {
        line-height: 22px;
        border: 1px dotted #777;
        color: #333;
      }

      &:not(.text-box) {
        color: black;
        border: initial;
        border-bottom: 2px groove #eeede0;
      }
    }

    button > i:only-child {
      margin: 0;
    }
  }

  .form-group.currency-total .form-fields {
    label:nth-child(1) {
      text-align: right;
    }
    label:nth-child(2) {
      flex: initial;
    }
    label:nth-child(3) {
      text-align: left;
      flex: 1;
    }
  }
}

.pf1 {
  &.get-actor {
    .window-content {
      overflow-y: scroll;
    }

    .dialog-get-actor {
      border-color: rgba(0, 0, 0, 0);
      border-width: 1px;
      border-radius: 4px;
      border-style: solid;
      gap: 4px;
      align-items: center;

      img {
        flex: 0 0 64px;
        max-width: 64px;
        max-height: 64px;
        object-fit: contain;
      }

      h2 {
        vertical-align: middle;
      }

      &:hover {
        border-color: #3030ff;
      }

      &.disabled {
        color: gray;

        img {
          filter: grayscale(100%);
        }

        &:hover {
          border-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

/* ----------------------------------------- */
/* Changelog
/* ----------------------------------------- */

.pf1.changelog {
  .content {
    overflow-y: auto;
    max-height: 640px;

    li > ul {
      margin: 0;
    }
  }
}

/* ----------------------------------------- */
/* Help Browser
/* ----------------------------------------- */

.pf1.help-browser {
  section.window-content {
    padding: 0;

    .top-bar {
      padding: 6px;
      flex: 0 0 24px;
      border-bottom: @borderGroove;

      > * {
        margin-right: 8px;
      }

      i {
        font-size: @fontSizeHeader;
      }
      i.gray {
        color: gray;
      }
    }

    .content,
    nav {
      a {
        color: var(--color-text-hyperlink);
        text-decoration: underline;
      }
    }

    .primary {
      height: calc(100% - 32px);
    }

    nav {
      flex: 0 0 200px;
      border-right: @borderGroove;
      height: 100%;
      overflow: auto;

      > ul {
        list-style: none;
        padding: 0 0 0 0.5em;
      }

      ul {
        padding: 0 0 0 1em;
      }
    }

    .content {
      height: 100%;
      overflow: auto;
      padding-bottom: 32px;
      padding-left: 0.4em;
      padding-right: 0.4em;

      * {
        user-select: text;
      }

      code {
        padding: 0 0.1em;
        background: #2b2b2b;
        color: var(--color-text-light-4);
        border: 1px solid #000;
        border-radius: 3px;
        box-shadow: 0 0 4px var(--color-border-dark-5);
      }

      img {
        margin-left: 8px;
      }

      h2,
      h3,
      h4,
      h5 {
        margin-top: 1em;
      }
    }
  }
}

/* ----------------------------------------- */
/* Script Editor
/* ----------------------------------------- */

.pf1.script-editor {
  .form-group.command {
    flex: 1;
    flex-direction: column;
    align-items: unset;

    label {
      flex: 0;
    }

    textarea {
      flex: 1;
    }
  }

  footer {
    flex: 0 0 32px;
  }
}

/* ----------------------------------------- */
/* Level Up Dialog
/* ----------------------------------------- */

.pf1.level-up {
  form {
    display: flex;
    flex-direction: column;

    .tab {
      display: flex;
      min-height: min-content;
      flex: 1;

      h2 {
        flex: 0;
      }

      .list-selector {
        display: flex;
        flex: 2;
        flex-direction: column;
        height: 100%;

        a.item {
          display: flex;
          align-items: center;

          .itemBackground();

          img {
            flex: 0;
            border-radius: 0;
          }
          .fake-img {
            flex: 0 0 3.6em;
          }
          img,
          .fake-img {
            margin-right: 0.4em;
            width: 3.6em;
            height: 3.6em;
          }

          span.name {
            font-size: @fontSizeLarge;
          }
        }
      }

      .content {
        flex: 3;
        border: 1px solid @colorOlive;
        border-radius: 0.4em;
        padding: 0.2em;
        height: 100%;
      }

      .ability-scores {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: @fontSizeLarge;

        ul {
          margin: 0;
          padding: 0;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          min-height: min-content;
          flex: 1 1 2.8em;

          .ability-score {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 2.8em;
            flex: 0 0 2.8em;
            overflow-y: auto;

            .itemBackground();

            .name {
              flex: 1;
              text-align: right;
              padding-right: 1.4em;
              color: @colorTan;
            }

            .value {
              display: flex;
              flex-direction: row;
              flex: 1;
              padding-left: 1.4em;

              .fake-operator,
              .operator {
                flex: 0 0 1.6em;
              }

              span {
                flex: 0 0 2em;
                text-align: center;
              }
            }

            &.enhanced {
              span {
                color: dodgerblue;
              }
            }
          }
        }

        footer {
          display: flex;
          flex-direction: column;
          border-top: 1px solid @colorCrimson;
          margin-top: 0.8em;
          align-items: center;

          .points-left {
            height: 2em;
            color: @colorTan;
          }
        }
      }
    }

    .nav-buttons {
      border-top: @borderGroove;
      padding-top: 0.4em;
      height: 3em;
      justify-content: center;
      display: flex;
      flex-direction: row;

      button {
        width: 14em;
        height: 2.4em;
      }
    }
  }
}

/* ----------------------------------------- */
/* Experience Distributor
/* ----------------------------------------- */
.pf1.xp-distributor {
  form {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .selectors {
      overflow-y: auto;
      flex: 1;

      .character-selector .actor {
        grid-template-rows: 96px 36px 18px;
      }

      .npc-selector .actor {
        grid-template-rows: 96px 36px 16px 18px;
      }

      .character-selector,
      .npc-selector {
        display: grid;
        flex-flow: row wrap;
        grid-template-columns: repeat(auto-fit, 96px);
        grid-gap: 0.4rem;

        .actor {
          cursor: pointer;
          width: 96px;
          padding: 4px;
          align-items: center;
          border-radius: 4px;

          display: grid;
          justify-items: center;
          grid-row-gap: 2px;

          input[type="checkbox"] {
            cursor: pointer;
          }

          img.portrait {
            height: 88px;
            width: 88px;
            object-fit: cover;
            object-position: 50% 0;
          }

          span {
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            display: -webkit-inline-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          &.toggled {
            background: rgba(155, 155, 155, 0.5);
            span.name {
              text-shadow: 0 0 10px red;
            }
          }

          &:hover {
            background: rgba(155, 155, 155, 0.2);
            span.name {
              text-shadow: 0 0 10px red;
            }
          }
        }
      }
    }

    .footer {
      flex: 0;
      line-height: 24px;
      margin-bottom: 5px;

      .property {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      .options {
        label {
          flex: 1;
          margin-left: 0;
          justify-content: space-between;
          display: grid;
          grid-template-columns: 1fr 2fr;
        }
        input {
          flex: 0.8;
        }
      }
    }
  }
}

/* ----------------------------------------- */
/* Attack Roll Dialog
/* ----------------------------------------- */
.pf1.attack-dialog {
  .attacks {
    padding: 2px;
    border: 1px solid @colorTan;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .attack,
    .attack-header {
      display: flex;
      gap: 2px;

      h3 {
        margin: 0;
        padding: 0;
        font-weight: bold;
      }

      .name {
        flex: 1;
      }
      .bonus {
        flex: 0 0 64px;
      }
      .ammo {
        flex: 0 0 120px;
      }
    }

    .attack {
      display: flex;

      &.disabled {
        opacity: 0.5;
      }

      // Ammo select
      .ammo-select {
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid @colorTan;
        border-radius: 3px;
        text-overflow: ellipsis;
        width: 120px;
        height: 26px;

        &.focus {
          box-shadow: 0 0 5px red;
          outline: none;
        }

        img {
          flex: 0 0 24px;
          width: 24px;
          height: 24px;
          margin-right: 2px;
        }

        span {
          vertical-align: middle;
          line-height: 26px;
        }

        div {
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            padding: 0 3px;
          }

          i {
            flex: 0 0 12px;
            text-align: center;
            line-height: 2;
            font-size: @fontSizeNormal;
          }
        }

        ul {
          display: none;
          background: url("../../ui/parchment.jpg") repeat;
          overflow-y: auto;
          max-height: 250px;
          position: absolute;
          float: left;
          margin: 0;
          padding: 0;
          list-style: none;
          width: 200px;
          border: 1px solid @colorTan;

          &.open {
            display: block;
          }

          li {
            display: flex;
            flex-flow: row nowrap;
            cursor: pointer;
            min-height: 25px;
            width: 100%;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &.default {
              color: blue;
            }

            &:hover {
              background-color: var(--pf1-item-list-hover-bg);

              .controls {
                display: flex;
              }
            }

            .controls {
              display: none;
              color: black;
              width: 100%;
              flex-flow: row nowrap;
              position: absolute;
              justify-content: flex-end;

              a {
                flex: 0 0 16px;

                &.active {
                  text-shadow: 0 0 5px blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* ----------------------------------------- */
/* Damage Type Selector
/* ----------------------------------------- */
.pf1.damage-type-selector {
  display: flex;
  flex-direction: column;
  height: 100%;

  .damage-type-container {
    flex: 0 0 calc(100% - 72px);
    height: calc(100% - 72px);

    .damage-type-categories {
      border-right: 1px dashed black;
      flex: 2;
      overflow-y: auto;
      height: 100%;
    }

    .damage-types,
    .damage-modifiers {
      label {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 18pt;
      }

      .icon {
        font-size: 64px;
        text-shadow: 0 0 4px black;
        background: none;
      }
    }

    .damage-modifiers {
      overflow-y: auto;
      height: 100%;
    }
  }

  .misc-container {
    div.custom {
      flex: 1;
    }
  }

  .icon-row {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: repeat(auto-fit, 80px);
    grid-gap: 0.2rem;
    padding: 0.2rem;

    .damage-type {
      cursor: pointer;
      width: 80px;
      padding: 4px;
      align-items: center;
      border-radius: 4px;

      display: grid;
      justify-items: center;
      grid-row-gap: 2px;

      input[type="checkbox"] {
        cursor: pointer;
      }

      img {
        height: 72px;
        width: 72px;
        object-fit: cover;
        object-position: 50% 0;
      }

      span {
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }

      &:hover {
        background: rgba(155, 155, 155, 0.2);
        span.name {
          text-shadow: 0 0 10px red;
        }
      }

      &.toggled {
        background: rgba(155, 155, 155, 0.5);
        span.name {
          text-shadow: 0 0 10px red;
        }
      }
    }
  }
}

/* ----------------------------------------- */
/* Item Action sheet
/* ----------------------------------------- */
.pf1.item-action {
  height: 100%;
  overflow: hidden;

  .sheet-header {
    img.profile {
      border: 1px solid black;
      flex: 0 0 80px;
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  .primary-body {
    .tab {
      input[type="text"],
      select {
        border: 1px solid @colorTan;
        background: rgba(0, 0, 0, 0.05);
      }

      .form-header {
        flex: 0;
      }
    }
  }

  // Conditionals
  .conditionals {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;

    .change,
    .context-note {
      flex: 0 0 100%;
      padding: 1px;
      input {
        flex: 3;
        border: 1px solid @colorTan;
        background: rgba(0, 0, 0, 0.05);
        height: 24px;
      }
      input[type="text"]:invalid {
        border: 2px solid @colorRust;
        background: url(icons/misc/hazard-sign.svg) no-repeat 95% 50% rgba(0, 0, 0, 0.05);
      }
      select {
        background: rgba(0, 0, 0, 0.05);
      }
      select:invalid {
        border: 2px solid @colorRust;
        background: url(icons/misc/hazard-sign.svg) no-repeat 75% 50% rgba(0, 0, 0, 0.05);
      }
      input[type="text"]:not(:first-child),
      select:not(:first-child),
      span:not(:first-child),
      button:not(:first-child) {
        margin-left: 5px;
      }

      button.edit-change-contents {
        height: 24px;
        line-height: 24px;
      }

      .change-priority {
        flex: 0 0 24px;
      }
      .change-operator {
        flex: 0 0 24px;
      }
      .change-target,
      .context-note-target {
        border: 1px solid @colorTan;
        background: rgba(0, 0, 0, 0.05);
        white-space: nowrap;
        overflow: hidden;
        height: 24px;
        line-height: 24px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        font-size: @fontSizeNormal;

        &:hover {
          box-shadow: 0 0 8px @colorRed;
        }

        &.invalid {
          border: 2px solid @colorRust;
          background: url(icons/misc/hazard-sign.svg) no-repeat 95% 50% rgba(0, 0, 0, 0.05);
        }
      }
      .conditional-default {
        flex: 0 0 18px;
      }
      .conditional-modifier {
        display: flex;
      }
    }
  }

  .conditionals {
    .conditional,
    .conditional-modifier {
      padding: 1px;

      select {
        max-width: max-content;
        min-width: 80px;
        flex: 1;
        border: 1px solid @colorTan;
        background: rgba(0, 0, 0, 0.05);
      }
      select:not(:first-child) {
        margin-left: 5px;
      }
      select:invalid {
        border: 2px solid @colorRust;
        background: url(icons/misc/hazard-sign.svg) no-repeat 80% 50% rgba(0, 0, 0, 0.05);
      }
      input[type="text"] {
        height: 24px;
        border: 1px solid @colorTan;
        background: rgba(0, 0, 0, 0.05);
      }
      input[type="text"]:invalid {
        border: 2px solid @colorRust;
        background: url(icons/misc/hazard-sign.svg) no-repeat 100% 50% rgba(0, 0, 0, 0.05);
      }
      input[type="text"]:not(:first-child) {
        margin-left: 5px;
      }
      input[class*="conditional-name"]:not(:first-child) {
        margin-left: 0;
      }
      .conditional-name,
      .conditional-formula {
        min-width: 140px;
      }
      .conditional-damage-type {
        min-width: 90px;
        max-width: 200px;
      }
      .form-group {
        padding-left: 30px;
      }
    }
  }

  h4.damage-header,
  h4.attack-header,
  h4.conditional-header {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 24px;
    color: @colorOlive;
  }
  h4.attack-header {
    margin-left: 4px;
  }

  .delete-damage,
  .crit-damage-control,
  .delete-attack,
  .delete-note,
  .delete-conditional,
  .delete-conditional-modifier {
    width: 18px;
    flex: 0 0 18px;
    line-height: 24px;
    text-align: right;
    color: @colorTan;
  }

  .add-attack,
  .add-damage,
  .add-note,
  .add-conditional,
  .add-conditional-modifier {
    flex: 0 0 auto;
    line-height: 24px;
    color: @colorTan;
    margin-left: 2px;
  }

  .damage-parts,
  .attack-parts {
    list-style: none;
    margin: 0;
    padding: 0;

    .damage-part,
    .attack-part {
      flex: 0 0 100%;
      padding: 2px;

      input {
        flex: 3;
      }
      input:not(:first-child) {
        margin-left: 5px;
      }
      select {
        margin-left: 5px;
        flex: 1;
      }
    }
  }
}

/* ----------------------------------------- */
/* Action Chooser
/* ----------------------------------------- */
.pf1.action-chooser {
  .actions {
    display: flex;
    flex-flow: row wrap;
    gap: 0.4em;

    .action {
      padding: 0.2em;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        background: rgba(155, 155, 155, 0.2);
        span.name {
          text-shadow: 0 0 10px red;
        }
      }

      img {
        width: 96px;
        height: 96px;
        object-fit: cover;
      }

      span {
        text-align: center;
        width: 80px;
      }
    }
  }
}

.damage-type-visual {
  height: 26px;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border: 1px solid @colorTan;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  vertical-align: middle;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;

  &.empty {
    display: flex;
    white-space: nowrap;
  }

  &:hover:not(.disabled) {
    cursor: pointer;
    box-shadow: 0 0 8px red;
  }

  & > span {
    text-align: center;
    word-break: keep-all;
  }

  .damage-type {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img.icon {
      width: 16px;
      height: 16px;
    }

    i.icon {
      background: none;
      font-size: 16px;
      text-shadow: 0 0 1px black;
    }
  }
}

.pf1.custom-skill {
  .compendium-controls {
    flex: 0;
  }

  .compendium-page {
    overflow-x: hidden;
  }
}

.app.pf1.skill-editor {
  input:invalid {
    background-color: rgba(255, 0, 0, 0.1);
  }
}
