:root {
  --pf1-success: #18520b;
  --pf1-failure: #aa0200;

  --pf1-roll-critical: #d8e9ba;
  --pf1-roll-success: #92cbe9;
  --pf1-roll-failure: #dfa1a1;

  --pf1-quick-action-default-border: gray;
  --pf1-quick-action-attack-border: crimson;
  --pf1-quick-action-weapon-border: silver;
  --pf1-quick-action-equipment-border: violet;
  --pf1-quick-action-consumable-border: limegreen;
  --pf1-quick-action-feat-border: darkorange;
  --pf1-quick-action-spell-border: blueviolet;

  --pf1-item-hover-text: var(--color-text-dark-primary);
  --pf1-item-hover-shadow: 0 0 10px red;

  --pf1-item-list-hover-bg: rgba(140, 130, 110, 0.25);
  --pf1-item-list-hover-text: var(--color-text-dark-primary);
  --pf1-item-list-bg: rgba(175, 175, 175, 0.3);
  --pf1-item-list-bg-alt: rgba(210, 210, 210, 0.3);

  --pf1-compendium-item-border: #ccc;

  --pf1-warning-bg: #cece00;
  --pf1-warning-border: #909000;

  --pf1-dark-bg: #191813;
}
