<div class="form-group {{system.armorProf.cssClass}}">
  <label for="system.weaponProf">{{localize "PF1.TraitWeaponProf"}}</label>
  <ul class="traits-list tag-list">
    {{#each system.weaponProf.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="weaponProficiencies"><i class="fas fa-edit"></i></a>
</div>

<div class="form-group {{system.armorProf.cssClass}}">
  <label for="system.armorProf">{{localize "PF1.TraitArmorProf"}}</label>
  <ul class="traits-list tag-list">
    {{#each system.armorProf.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="armorProficiencies"><i class="fas fa-edit"></i></a>
</div>

<div class="form-group {{system.languages.cssClass}}">
  <label for="system.languages">{{localize "PF1.Languages"}}</label>
  <ul class="traits-list tag-list">
    {{#each system.languages.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="languages"><i class="fas fa-edit"></i></a>
</div>